body{
    margin: 0;
}

header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color:  #77dd77;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    display: flex;
}
.logi{
    height: 40px;
    align-items: center;
    margin: 5px;
    margin-right: 20px;
}
nav{
    font-family: 'Times New Roman', Times, serif;

}
.letras{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}
.compa{
    font-size: 50px;
}
.compa:hover{
color: blueviolet;
}
nav a{
font-weight: 700;
padding: 20px;
}
nav a:hover{
    color: blueviolet;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.burga{
    display: flex;
    margin: 7px;
    align-items: center;
font-size: 50PX;
}
.burga:hover{
    color: blueviolet;
}



























































.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
    background-color: aquamarine;
    color: black;

}

.guar{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 60px;
    background-color: #fdfd96;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

section{
    height: 500px;
}
.estaca{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.costi{
    margin-bottom: 20px;
width: 400px;
border-radius: 20px;
}
section div div{
text-align: center;
}
section div{
    align-items: center;
}
.chori{
    width: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.embutido{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}

.llena{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.asado{
    border-radius: 20px;
    width: 450px;
    margin-bottom: 20px;
}

.pisa{
font-family: 'Times New Roman', Times, serif;
font-weight: 1000;
}
.italiana{
    width: 400px;
    border-radius: 60px;
    margin-bottom: 20px;
}


.empa{
font-family: 'Times New Roman', Times, serif;
font-weight: 1000;
}
.nadas{
    width: 400px;
    border-radius: 60px;
    margin-bottom: 20px;
}


.cro{
font-family: 'Times New Roman', Times, serif;
font-weight: 1000;
}
.loc{
    width: 330px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.mata{
    font-family: 'Times New Roman', Times, serif;
font-weight: 1000;
}
.mbre{
    width: 400px;
    border-radius: 60px;
    margin-bottom: 20px;
}
.mila{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.nesa{
    width: 300px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.ozo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.buco{
    width: 400px;
    border-radius: 60px;
    margin-bottom: 20px;
}
.pes{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.cado{
    width: 400px;
    border-radius: 60px;
    margin-bottom: 20px;
}











.ensalada{
    width: 400px;
    align-items: end;
    text-align: end;
    border-radius: 20px;
}
.fritas{
    width: 220px;
    border-radius: 20px;
}
.rusa{
    width: 380px;
    border-radius: 30px;

}
.papa{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    margin-top: 20px;
}
.lada{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    margin-top: 20px;
}
.rusita{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;

}
.guarni{
    justify-content: center;
    align-items: center;
    background-color: #fdfd96;
    border: 1px solid black;
}












.pos{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 60px;
    background-color: #c6a6f5;
    margin-top: 30px;
    margin-bottom: 30px;

}
.flan{
font-family: 'Times New Roman', Times, serif;
font-weight: 1000;
}
.flancito{
    width: 400px;
    border-radius: 20px;
    height: 330px;
}
.chu{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.churros{
    width: 340px;
    border-radius: 20px;
}

.mai{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    margin-top: -10px;
}
.maicena{
    width: 380px;
    border-radius: 20px;
    height: 340px;
    border: 1px solid black;
}
.choco{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.torta{
    width: 400px;
    border-radius: 20px;
}
.pan{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.panque{
    width: 400px;
    border-radius: 20px;
}
.que{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.junta{
    width: 400px;
    border-radius: 20px;
    height: 268px;
}
.postres{
    border: 1px solid black;
    background-color: #c6a6f5;
}































.nos{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.contenedor{
    background-color: burlywood;
    font-size: 30px;
    
}

.foto{
    border-radius:30px ;
}




.temas{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000 ;
    
}
.link{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000 ;
    text-align: center;
    margin-right: 30px;
}
li{
    list-style-type: none;
}
.linkes{
    background-color: darksalmon;
    font-weight: 1000;
    font-size: 30px;
}




